default:
    suites:
        receptionist:
            contexts:
                - MedicalClinicContext
            paths:
                features: %paths.base%/features/Receptionist
            filters:
                tags: ~@wip